<h1>新規会員登録</h1>

  <%= form_with model: @public do |f| %>
    <div>
      <%= f.label :name, "名前" %>
      <%= f.label :name, "(姓）" %>
      <%= f.text_field :name %>
      <%= f.label :name, "(名）" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :name, "フリガナ" %>
      <%= f.label :name, "(セイ）" %>
      <%= f.text_field :name %>
      <%= f.label :name, "(メイ）" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
      <%= f.text_field :addres %>
    </div>
    <div>
      <%= f.label :address, "住所" %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :telephone_number, "電話番号(ハイフンなし)" %>
      <%= f.text_field :telephone_number %>
    </div>
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
    <div class="field">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(確認用)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
      <%= f.submit "新規登録" %>
  <% end %>

  <div>
    <p>既に登録済みの方</p>
      <li>
        <span>からログインしてください。</span>
      </li>
  </div>
